---
# (c) Copyright: David HEURTEVENT, 2023
# License: GPL 3.0
# tasks file for packages_fail2ban

# Debian
- block:
  #sudo apt-get update
  - name: APT - Update
    become: true
    ansible.builtin.apt:
      update_cache: yes
      cache_valid_time: 86400 #One day

  #sudo apt-get -y install fail2ban
  - name: APT - install fail2ban
    become: true
    ansible.builtin.apt:
      pkg: fail2ban
      state: present
    register: fail2ban_installed
  when: ansible_os_family == 'Debian'

- block:
  #sudo systemctl enable --now fail2ban
  - name: SERVICE - Ensure fail2ban service enabled
    become: true
    ansible.builtin.service:
      name: fail2ban
      enabled: yes
    register: fail2ban_enabled

  #sudo service fail2ban start
  - name: SERVICE - Ensure fail2ban service started
    become: true
    ansible.builtin.service:
      name: fail2ban
      state: started
    when: fail2ban_enabled
  when: fail2ban_installed 